<!-- Usamos la herramienta ngForm para nuestros formularios -->
<!-- (ngSubmit) es la accion a ejecutar, cuando se haga submit el formulario -->
<!-- Con #f="ngForm" decimos que este formulario es de tipo ngForm -->
<form #f="ngForm" name="formProducto" (ngSubmit)="f.form.valid && _guardar(f)" novalidate>
  <div class="form-group">
    <!-- Con [(ngModel)]="model.nombre" #nombre="ngModel" definimos a que propiedad de nuestro modelo va a asociarse el input -->
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel"
      appUpper placeholder="Nombre" required>
    <!-- Vamos a mostrar mensaje de error, en caso de que en el formulario se haya hecho submit y el contenido del input 'nombre' sea invalido -->
    <p *ngIf="f.submitted && !nombre.valid" class="text-danger">El nombre es requerido</p>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="model.imagen" #imagen="ngModel"
      placeholder="Url de la imagen" required>
    <p *ngIf="f.submitted && !imagen.valid" class="text-danger">El nombre es requerido</p>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="precio" name="precio" [(ngModel)]="model.precio" #precio="ngModel"
      placeholder="Precio" [appNumero]="'blue'" required>
    <p *ngIf="f.submitted && !precio.valid" class="text-danger">El nombre es requerido</p>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="model.cantidad" #cantidad="ngModel"
      placeholder="cantidad" appNumero required>
    <p *ngIf="f.submitted && !precio.cantidad" class="text-danger">El nombre es requerido</p>
  </div>
  <div>
    <!-- Boton submit comun y corriente -->
    <button type="submit" class="btn btn-primary mx-2">
      Guardar
    </button>
    <!-- Cuando precionemos en el boton cancelar cambiamos a false nuestra bandear mostrar -->
    <button type="button" class="btn btn-light" (click)="_cancelar()">
      Cancelar
    </button>
  </div>
</form>