<div class="container">
  <div class="row">
    <!-- Con *ngFor hacemos el mapeo de nuestro arreglo en la vista -->
    <!-- funciona como un foreach -->
    <!-- Con let i = index podemos ver el numero de la iteracion -->
    <div class="col-md-4 my-3" *ngFor="let item of productos; let i = index;">
      <app-producto-card [producto]="item"></app-producto-card>
    </div>
    <!-- *ngIf recibe un valor booleano, en caso de que este sea verdadero va a mostrar el contenido en nuestro DOM -->
    <div class="col-md-4 my-3" *ngIf="!mostrar">
      <!-- Para ejecutar una funcion desde el evento click lo hacemos de esta menera (click)="mostrarFormulario()"-->
      <div class="card my-auto text-center" (click)="mostrarFormulario()">
        <a class="my-auto">
          <i class="fas fa-plus-circle fa-7x"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 my-3" *ngIf="mostrar">
      <div class="card">
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>